main{
    max-width: 1200px;
    margin: auto;
}
.pagebar img{
    object-position:bottom;
}
.price{
    margin: 0 auto 150px;
}
.price table{
    margin: auto;
    width: 80%;
    text-align: center;
    border-collapse:collapse ;
    border-radius: 10px;
    overflow: hidden;
    font-size: 16px;
}
.price table th{
    height:3rem ;
    color: #2C6E00;
    font-size: 18px;
    min-width: 50px;
    white-space: nowrap;
}
.price table tr{
    border-bottom: 1px dashed #2C6E00;
    border-radius: 10px;
    overflow: hidden;
    height: 3rem;
}

.price table tr td{
    background-color: #fff;
    color: #2C6E00;
}
tr td:last-child{
    width: 30%;
}
tr td:first-child{
    width: 10%;
}
.price .car tr td:first-child{
    min-width: 50px;
    width: 10%;
}
tr td:nth-child(2){
    width: 20%;
}
.price table tr i{
    font-size: 30px;
}
.fa-car-side,.fa-motorcycle{
    margin-right: 10px;
}
.map{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto 150px auto;   
}
.map .pin {
    position: relative;
}
.map .pin img{
    width: 100%;
    max-height: 500px;
    object-fit:cover;
    border-radius: 10px;
}
.map .pin input{
    position: absolute;
}
.map .pin input:checked::after{
    z-index: 2;
    transform-origin:center;
    animation:pin .7s 0s linear infinite alternate;
}
@keyframes pin{
    0%{transform: scale(0.7);
    }
    100%{transform:scale(1.3);
       }
}

.map .pin input::before{
    font-size: 1rem;
    font-weight: 700;
    width: 100px;
    text-align: center;
    top: -30px;
    right: -50px;
    position: absolute;
    text-shadow: 2px 2px 2px #fff,-2px -2px 2px #fff,2px -2px 2px #fff,-2px 2px 2px #fff;
}

.map .pin input#ground::before{
    content: "羊羊廣場";
}
.map .pin input#house::before{
    content: "山羊羊舍";
}
.map .pin input#diy::before{
    content: "起司研究室";
}
.map .pin input#kit::before{
    content: "手作廚房";
}
.map .pin input#cheese::before{
    content: "手作教室";
}
.map .pin input#bq::before{
    content: "烤肉帳篷";
}
.map .pin input#market::before{
    content: "小農市集";
}
.map .pin input#center::before{
    content: "遊客服務中心";
}
.map .pin input#ground{
    bottom:40%;
    right: 33%;
}
.map .pin input#house{
    bottom:63%;
    right: 70%;
}
.map .pin input#diy{
    top:21%;
    right: 18%;
}
.map .pin input#kit{
    top:23%;
    right:35%;
}
.map .pin input#cheese{
    top:10%;
    right: 46%;
}
.map .pin input#bq{
    bottom:50%;
    left: 10%;
}
.map .pin input#market{
    top:22%;
    left: 12%;
}
.map .pin input#center{
    bottom:38%;
    left: 23%;
}
.map .pin input::after{
    content:" ";
    background-image:url("../item/sheep-svg.svg") ;
    width: 50px;
    height: 50px;
    background-size: contain;
    position: absolute;
    top: -100%;
    left: -100%;
    z-index: 2;
}
.btngroup{
    width: 20%;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btngroup label{
    width: 100%;
    min-width: 120px;
    padding: 10px 0px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 0 2px rgba(81, 96, 110, .8);
}
.btngroup label i{
    color: #2C6E00;
    margin-right: 5px;
}
.history{
    width: 83.33%;
    margin: 0 auto 150px auto;
}
.history .block{
    position: relative;
    margin-bottom: 1.5rem;
}
.history .block:last-child{
    max-width: 800px;
    margin: auto;
}
.history .block img{
    display: block;
    border-radius: 10px;
    object-fit: cover;
}
.history .block .top{
    width: 100%;
    margin: auto;
}
.history .block .mid{
    width: 50%;
    margin-left: auto;
    min-height: 260px;
    max-height:320px ;
}
.history .block .but{
    width: 55%;
    min-height: 260px;
    max-height:320px ;
}
.history .block .logo{
    width: 60%;
    position: absolute;
    right: 10%;
    z-index: 2;
}
.history .block .txt{
    text-align: center;
    position: absolute;
    min-width: 50%;
    background:no-repeat center url("../back/cloud2.png");
    background-size:contain ;
    bottom: 0;
    padding: 70px 50px 20px;
    
}
.history .block:nth-child(1) .txt{
    right: 0;
}
.history .block:nth-child(2) .txt{
    left: 0;
}
.history .block:nth-child(3) .txt{
    right: 0;
}
.history .block .txt h3{
    margin-bottom: 1rem;
}
.history .block .txt p{
    margin: auto;
    max-width: 300px;
    line-height: 1.5rem;
    
}
.story{
    width: 90%;
    margin: 0 auto 150px auto;
    display: flex;
    height: 450px;
    position: relative;
    justify-content: center;
}
.time{
    width: 20%;
    min-width: 155px;
    display:flex ;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 1rem;
}
.time span{
    display: inline-block;
    cursor: pointer;
    height: 80px;
    vertical-align: bottom;
    font-size: 1.2rem;
    border: none;
    background-color: transparent;
}

.time span p{
    text-align: center;
    width: 65%;
    padding: 0 0.5rem;
    display: inline-block;
    background-color: #fff;
    border-radius: 45px;
    line-height: 50px;
    vertical-align: middle;
    margin-bottom: 15px;
    transition: .2s;
}
.time span.click p{
    background-color: #2C6E00;
    color: #fff;
}
.time span img{
    height: 100%;
    width: 35%;
    object-fit: contain;
    vertical-align: bottom;
}
.window{
    width: 80%;
    display: flex;
    overflow:hidden;
    scroll-behavior: smooth;
}
.window::-webkit-scrollbar {
    display: none;
}
.window .page{
    width: 100%;
    background:no-repeat center url("../back/cloud2.png");
    background-size: contain;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.window:target::before {
    content: "";
    display: block;
    height: 60px;
    margin: -60px 0 0; 
  }
.window .page h3{
    text-align: center;
    margin-bottom: 1rem;
}
.window .page p{
    line-height: 1.4rem;
    padding-left:16px;
}
.window .page .txt{
    max-width: 500px;
    width: 70%;
    display: flex;
    align-items: center;
}
.window .page .txt img{
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
    aspect-ratio: 3/4;
}

.photo{
    width: 83.33%;
    margin: auto;
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    grid-template-rows:repeat(4,1fr) ;
    gap: 10px;
}
.photo img{
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit:cover ;
    border-radius: 10px;
}
.photo img:first-child{
    grid-row:1/3 ;
    grid-column:1/3 ;
}
.photo img:nth-child(4){
    grid-column:3/5 ;
    grid-row:2/4 ;
}
.photobox{
    display: none;
    background-color: rgba(241, 241, 241, 0.8);
    -webkit-backdrop-filter: blur(5px);
                backdrop-filter: blur(5px);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 25;
    padding:10% 5% 5%;
}
.photobox .centerphoto{
    margin: auto;
    display: block;
    width: 70%;
    max-width: 750px;
    height: 60%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.photobox .centerphoto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    z-index: 26;
}
.photobox .wrap{
    margin: auto;
    height: 18%;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}
.photobox i{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 2rem;
    color: #2C6E00;
    cursor: pointer;
}
.photobox .wrap .small{
    display: inline-block;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
    margin: 5px;
}
.map .btngroup::-webkit-scrollbar {
    width: 7px;
  }
.map .btngroup::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 4px;
  }
.map .btngroup::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 4px;
}
.map .btngroup::-webkit-scrollbar-thumb {
    background: #90B44B;
    border-radius: 4px;
}
@media screen and (hover:hover){
    .btngroup label i{
        color: transparent;
    }
}
@media screen and (max-width:768px){
    .price table{
        width: 90%;
    }
    .map{
        flex-direction: column;
    }
    .map .btngroup{
        margin: auto;
        width: 90%;
        flex-direction:row;
        margin-bottom: 1rem;
        overflow-y: hidden;
        overflow-x: scroll;
        padding: 0;
    }
    .map .btngroup label{
        margin: .5rem;
    }
    .map .pin input::after{
        width: 40px;
        height: 40px;
    }
    .map .pin input::before{
        width: 90px;
        font-size: 0.9rem;
        right: -40px;
    }     
    @keyframes pin{
        0%{transform: scale(0.7);
        }
        100%{transform:scale(1.15);
           }
    }
    .history{
        width: 90%;
    }
    .story{
        max-width:600px ;
        flex-direction: column;
    }
    .story .time{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
    }
    .story .time span{
        width: 25%;
        text-align: center;
        margin-bottom: 1rem;
    }
    .story .time span img{
        vertical-align: top;
    }
    .story .window{
        margin: auto;
        width: 100%;
        height: 100%;
    }
    .time span p{
        width: 4rem;
        padding: 0.5rem;
        border-radius: 45px;
        line-height: 1.5rem;
    }
    .window .page{
        width: 100%;
        background-size: 100% 95%;
    }
    .window .page .txt{
        width: 70%;
    }
    .window .page .txt img{
        display: block;
        width:40%;
        min-height:190px;
        max-height: none;
        aspect-ratio: auto;
    }
    .window .page h3{
        max-width: 440px;
        margin-bottom: 0.5rem;
    }
    .window .page p{
        line-height: 1.3rem;
        padding-left:1rem;
    }
    .history .block .txt{
        width: 60%;
        background-image: none;
        background-color:rgb(255, 255, 255,.5);
        padding: 1.5rem 0.5rem;
        line-height: 1.25px;
        border-radius: 10px;
    }
    .history .block:first-child .txt{
        padding-right: 2.5rem;
        width: 90%;
        background-color:transparent
    }
    .history .block:first-child .txt h3{
        text-shadow: -3px -3px 3px #fff,3px 3px 3px #fff,3px -3px 3px #fff,-3px 3px 3px #fff;
    }
    .history .block:first-child .txt p{
        max-width: none;
        text-shadow: -3px -3px 3px #fff,3px 3px 3px #fff,3px -3px 3px #fff,-3px 3px 3px #fff;
    }
    .history{
        width: 95%;
    }
    .history .block .top{
        min-height: 300px;
        object-position: left
    }
    .photo{
        width: 90%;
    }
    .photobox .wrap{
        max-width: 80%;
        justify-content:start;
        overflow-y: hidden;
        overflow-x: scroll;
    }
    .photobox .wrap .small{
        width: 100px;
    }
    .photobox .wrap::-webkit-scrollbar {
        width: 7px;
      }
    .photobox .wrap::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 4px;
      }
    .photobox .wrap::-webkit-scrollbar-track {
        background: #fff;
        border-radius: 4px;
    }
    .photobox .wrap::-webkit-scrollbar-thumb {
        background: #90B44B;
        border-radius: 4px;
    }
}
@media screen and (max-width:580px){
    .window .page{
        border-radius: 10px;
        background-color: #fff;
    }
    .window .page .txt{
        width: 90%;
    }
    .window .page h3{
        max-width: 440px;
        margin-bottom: 1rem;
    }
    
}
@media screen and (max-width:460px){
    .time span img{
        display: none;
    }
}
@media screen and (max-width:400px){
    .price table{
        width: 100%;
    }
    .price table :is(thead th,tr td):first-child,.price table tr td i{
        display: none;
    }
    .map .btngroup{
        width: 95%;
    }
    .pin{
        margin: auto;
        width: 70vh;
        height: 100vw;
        transform-origin:left bottom;
        transform: rotate(90deg) translateX(-75%);
    }
    .pin img{
        width: 70vh;
        height: 100vw;
    }
    .map .pin input#cheese{
        top:12%;
        right: 46%;
    }
    .map .pin input{
        transform: rotate(-90deg) ;
    }
    .story{
        width: 100%;
    }
    .story .time{
        flex-wrap: wrap;
    }
    .history .block .txt p{
        text-align:justify;
    }
    .history .block:first-child .txt{
        width: 100%;
        padding: 0px 0px 10px;
    }
    .history .block:first-child .txt p{
        width: 95%;
    }
    .history .block:first-child .top{
        height: 100%;
    }
    .history .block{
        height: 55vh;
    }
    .history .block:first-child{
        height: 70vh;
    }
    .time{
        width: 100%;
    }
    .photo{
        width: 93%;
        grid-template-columns:repeat(2,1fr) ;
        grid-template-rows:repeat(4,1fr) ;
    }
    .photo img:first-child{
        grid-row:1/2 ;
        grid-column:1/3 ;
    }
    .photo img:nth-child(4){
        grid-column:1/3 ;
        grid-row:4/5;
    }
    .photobox{
        padding:25% 5% 5%;
    }
    .photobox .centerphoto{
        width: 80%;
        height: 60%;
    }
    
}