.pic{
    width: 83%;
    margin: auto;
}
.pic .content{
    max-width: 920px;
    min-width: 300px;
    margin: auto;
    font-size: 0px;
    cursor: pointer;
    white-space: nowrap; 
    overflow: hidden;
    scroll-behavior: smooth;
}
.pic .content.dragging{
    cursor: grab;
    scroll-behavior:auto;
}
.pic .content.dragging img{
    pointer-events: none;
}
.pic .content img{
    width:300px;
    height: 250px;
    object-fit: cover;
    border: 3px solid #ffffff;
    border-radius: 10px;
    margin-left:10px ;
}
.pic .content img:first-child{
    margin-left:0rem ;
}
.pic .btn{
    text-align: center;
    margin:1rem auto 0;
}
.pic .btn ul{
  display: inline-block;  
}
.pic  li{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #fff;
    margin:auto 5px;
    cursor: pointer;
    box-shadow:0 3px 3px rgba(84, 84, 84, 0.6);
    transition: .2s;
}
.pic  li.active{
  width: 20px;
  transition: .2s;  
}
.allact{
    max-width: 1000px;
    width: 90%;
    margin: 120px auto 0;
}
.actblock{
    background-color: #ffffff;
    width: 100%;
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding:0px 24px 20px;
    margin-top: 24px;
    flex-wrap: wrap;
}
.actblock h3{
    text-align: center;
    display: block;
    width: 100%;
    line-height: 3rem;
}
.card{
    width: 30%;
}
.card .txt h4{
    text-align: center;
    font-size: 20px;
    margin: 12px 0;
}
.card .txt p{
    line-height: 1.8rem;
}
.actblock .card img{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    aspect-ratio: 1/1;
}
.card p i{
    width: 1rem;
    text-align: center;
    margin-right: 7px;
}
.bbq{
    margin-right:auto;
}
.net{
    margin: auto;
    width: 100%;
    height: 206px;
    border: 2px solid #686868 ;
    border-radius:10px ;
    opacity: .8;
    background-image:  linear-gradient(#686868 3px, transparent 3px), linear-gradient(to right, #686868 3px, #ffffff 3px);
    background-size: 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.net .box{
    position: relative;
    width: 90%;
    /* height: 160px; */
    cursor: pointer;
    margin-left: 1rem;
    aspect-ratio: 3/2;
}
.net .box .f{
    width: 100%;
    height: 100%;
    border-radius:77% 23% 76% 24% / 30% 30% 70% 70% ;
    background-size: cover;
    perspective: 400px;
    transition: .3s;
    box-shadow: inset 10px 8px 1px rgba(255, 139, 139, 0.5);
}
.net label:first-child .f{background-image: url("../back/steak.jpg");}
.net label:nth-child(2) .f{background-image: url("../back/steak2.jpg");}
.net label:nth-child(3) .f{
    background-image: url("../back/steak3.png");
    background-size: fill;
    box-shadow: inset 10px 8px 1px rgba(255, 139, 139, .9);
}
.net .box .f img{
    width:60%;
    transform:translate(30%,40%);
}
.net .box  i{
    top: 65%;
    left: 50%;
    position: absolute;
    z-index: 3;
    color: #fff;
    font-size: 30px;
    animation:hint .5s 0s linear infinite alternate;
}
@keyframes hint{
    0%{transform: translateY(0px);}
    100%{transform: translateY(6px);}
}
.net .box .b{
    width: 100%;
    height: 100%;
    border-radius: 30% 70% 23% 76% / 30% 24% 70% 77% ;
    background-color: #fff;
    position: absolute;
    top: 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: .5s;
    overflow: hidden;
    text-align: center;
}
.net .box .b img{
    width: 100%;
    object-fit: cover;
    opacity: .6;
}
.net .box .txt{
    padding: 10px 15px;
    width: 75%;
    height: 75%;
    position: absolute;
    top: 15%;
    left:15%;
    z-index: 1;
    border-radius: 30% 70% 23% 76% / 30% 24% 70% 77% ; 
    background-color: rgba(255, 255, 255,.8);
}
.net .box .b h3{
    font-size: 13px;
    margin-bottom: 6px;
}
.net .box .b p{
    font-size: 11px;
    line-height: 16px;
}
.net input[type="checkbox"]{
    display: none;
}
.net input[type="checkbox"]:checked~.box .f{
    transform: rotateY(180deg);
}
.net  input[type="checkbox"]:checked~.box .b{
    transform: rotateY(360deg) scale(1.5);  
}
.net>p{ 
    min-width: 150px;
    background:no-repeat center / contain url("../item/onion.png") ;
    text-align: center;
    padding: 40px  0;
    line-height: 25px;
    transition: .3s;
}
.net>p:hover{
    transform: scale(1.1)
}
.box .f::after{
    content:"";
    background-image: url("../activity/yuge.png");
    background-size: contain;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: -15%;
    z-index: 3;
    opacity: 0;
    transition: .8s;
}
.box .f::before{
    content:"";
    background:no-repeat center/ contain url("../activity/yuge2.png");
    background-size: contain;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: -10%;
    left:-10%;
    z-index: 3;
    opacity: 0;
    transition: .8s ;
}
.box .f:hover::after{
    opacity: .8;
    transform: translateY(-20px);
}
.box .f:hover::before{
    opacity: .8;
    transform: translate(-20px,-30px) ;
}
.plan{
    width: 70%;
    margin: auto;
    transition: .2s;
}
.plan .row{
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    height: 200px;
    display: flex;
    padding: 1rem 2rem;
    margin: 1rem 0px;
    justify-content: space-between;
    transition: .3s;
}
.plan .row:hover{
    box-shadow: 0px 5px 4px rgb(81, 96, 110, .7);
}
.plan .row img{
    width:40%;
    border-radius: 10px;
    object-fit: cover;
}
.plan .row .txt{
    width: 40%;
    text-align: center;
    padding: 1rem 0px;
    inset: 0;
    margin: auto;
}
.plan .row .txt h3{
    font-size: 20px;
    margin-bottom: 1rem;
}
.plan .row .txt p{
    line-height: 1.5rem;
}
.plan .row .price{
    width: 20%;
    text-align: center;
    inset: 0;
    margin: auto;
}
.plan .row .price p{
    font-weight: 700;
    font-size:20px;
    text-align: center; 
    vertical-align: middle;
    line-height:2.5rem;
}
.plan .row .price .more{
    margin:0px auto;
    border-radius: 50px;
    border: 2px solid #2C6E00;
    padding: 5px;
}
.plan .row .price .more a{
    height: 100%;
    width: 100%;
}
@media screen and (max-width:768px) {
    .net{
        display: none;
    }
    .allact{
        margin-bottom: 100px;
    }
    .actblock{
        flex-direction: column;
    }
    .card{
        width: 100%;
        padding: 10px 0px;
        white-space: nowrap;
    }
    .actblock .card img{
        margin: auto;
        display: inline-block;
        min-height: 145px;
        width: 35%;
        aspect-ratio: auto;
    }
    .actblock .card .txt{
        vertical-align: top;
        display: inline-block;
        width:64%;
    }
    .actblock .card h4{
        text-align: center;
        
    }
    .actblock .card p{
        padding-left:8% ;
    }
    .plan{
        width: 96%;
    }
    .plan .row .price .more{
        width: 100%;
    }
    .plan .row{
        padding: 0.5rem 0.4rem;
    }
}
@media screen and (max-width:400px) {
    .allact{width: 100%;}
    .actblock{
        padding:0px 1rem 1rem;
    }
    .plan .row{
        height: auto;
        flex-direction: column;
        padding: 1rem 2rem;
        margin: 1rem 0px;
        align-items: center;
        justify-content: center;
    }
    .plan .row img{
        width: 100%;
    }
    .plan .row .txt{
        width: 100%;
        padding: 0;
    }
    .plan .row .txt h3{
        padding: 0.5rem 0;
        margin-bottom: 0;
    }
    .plan .row .price{
        width: 100%;
    }
    .plan .row .price .more{
        width: 75%;
        font-size: 1.25rem;
    }
    .plan .row .price p{
        line-height: 2rem;
    }
}