.wrap{
    height:100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-image: url('../back/paraback.jpg');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
.topmenu li{
    display: inline-block;
    margin-right:0 ;
}
#moun{
    left:0;
    width: 100vw;
    max-height:40vh;
    min-height: 20vh;
    position: absolute;
    bottom: 0;
    object-fit: fill;
    z-index: 1;
}
#floor{
    width: 100%;
    object-fit:cover;
    position: absolute;
    bottom: 0;
    min-height: 220px;
    object-position: right bottom;
    z-index: 3;
}
#paralogo{
    width: 55%;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -65%);
    z-index: 2;
}
#cr{
    position: absolute;
    right: 0;
    width: 35%;
    top: 10%;
    z-index: 2;
    background-size: contain;
    margin-left: auto;
}
#cl{
    position: absolute;
    top: -10%;
    left: 0;
    width: 40%;
}
.wrap::-webkit-scrollbar{
    display: none;
}
.wrap .fa-angles-down{
    position: absolute;
    bottom:15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    font-size: 1.5rem;
    color: #2C6E00;
    transition: .3s;
    animation: godown .5s 0s linear infinite alternate;
}
@keyframes godown {
    0%{transform: translateY(0);}
    100%{transform: translateY(10px)}
}
.topmenu{
    position: relative;
    z-index: 2;
    text-align: end;
    padding: 15px 20px;
}
.topmenu li{
    padding: 0px 10px;
    border-radius: 50px;
    transition: .3s;
}
.topmenu li a{
    display: inline-block;
    line-height: 1.8rem
}
.topmenu li:hover{
    background-color: #fff;
}
.wrap .shop{
    z-index: 4;
    width: 170px;
    height: 170px;
    background-color: #2C6E00;
    border-radius: 100px;
    padding: 55px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    box-shadow: 0px 5px 5px rgba(81, 96, 110,.5);
}
.wrap .shop i{
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 9px;
}
.wrap .shop p{
    color: #fff;
    font-size: 1.25rem;
}
.wrap .shop::after{
    content: "";
    background-image: url(../item/shop.png);
    background-size: contain;
    position: absolute;
    top: 50%;
    right: 50%;
    width: 150px;
    height: 150px;
    transform-origin: center;
    animation: rotate360 7s 0s linear infinite;
    z-index: -1;
}
@keyframes rotate360 {
    0%{transform: translate(50% ,-50%) rotate(0deg);}
    100%{transform:translate(50% ,-50%)  rotate(360deg);}
}
.bar{
    max-width: 1100px;
    margin: auto;
    position: relative;
    display: flex;
}
.vedio{
    width: 75%;
    height:100%;
    display: flex;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: auto;
    aspect-ratio: 9/6;
}
.vedio video{
    width: 99%;
    height:99%;
}
.vedio img{
    position: absolute;
    height: 100%;
    width: 100%;
}
.bar .txt{
    width: 50%;
    background:no-repeat center/100% url("../back/cloud.png");
    opacity: .8;
    margin-right: -25%;
    text-align: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}
.bar .txt h1{
    font-size: 2rem;
}
.bar .txt h2{
    font-size: 1.5rem;
}
.bar::before{
    content: "";
    position: absolute;
    top: 0;
    left: -40px;
    background:no-repeat center/100% url("../back/cloud.png");
    background-size: contain;
    width: 150px;
    height: 150px;
    z-index: 1;
}
.bar::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0px;
    background:no-repeat center/100% url("../back/cloud.png");
    background-size: contain;
    width: 200px;
    height: 200px;
}
.sum{
    max-width: 1000px;
    margin:100px auto 100px;
    position: relative;
    display:flex ;
    justify-content:space-around;
}
.item{
    margin: auto;
    position: relative;
    width: 30%;
    transition: .3s ;
}
.item p{
    font-size: 1.25rem;
    position: absolute;
    width: 100px;
    height:100px;
    font-weight: 700;
    background-color: white;
    border-radius:100px;
    text-align: center;
    line-height: 100px;
    z-index: 2;
    transition: .3s;
    transform: scale(1);
}
.item span{
    display: block;
    border: 5px solid white;
    overflow: hidden;
    border-radius:53% 47% 35% 65% /61% 59% 41% 39%;
    aspect-ratio: 6/7;
    transition: .2s;
    box-shadow: 8px 8px 8px rgba(40, 68, 117,.5);
}
.item img{
    height:100%;
    width: 100%;
    object-fit: cover;
    object-position:right;
    display: block;
    transform: scale(1);
    transition: .4s;
}
.new{
    width:100%;
    position: relative;
    margin-bottom: 200px;
}
.new .cloudtitle{
    transform:translateY(30%);
}
.new .ground{
   width: 100%;
   background-image:url("../back/green.png") ;
   padding-top: 40px;
   text-align: center;
}
.sheeprow{ 
    max-width: 1280px;
    height: 100%;
    margin: auto;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100%/3);
    position: relative;
    overflow: hidden;
    padding: 50px 0px 0px;
}
.sheeprow .newcol{
    padding:0 30px; 
}
.sheeprow .newcol a{
    width: 100%;
}
.sheeprow .newcol h3{
    color:#2C6E00;
    text-align: center;
    display: block;
    width: 80%;
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden;
    margin: auto;
    text-shadow: 0px 5px 5px #bcbcbc;
}
.sheeprow .newcol a img{
    width: 100%;
}
.sheeprow .newcol:nth-child(2){
    transform: translateY(-50px);
}
.ground .btngroup{
    text-align: center;
    display: inline-block;
}
.ground .btngroup .btn *{
    margin: 0 3px;
    cursor: pointer;
}
.ground .btngroup .btn>i{
    color: #fff;
    text-shadow:0 5px 3px rgba(84, 84, 84, 0.6);
    line-height: 24px;
    transition: .2s;
}

.ground .btngroup .btnchangecolor{
    margin: 10px auto;
}
.activity{
    position: relative;
    max-width: 1200px;
    margin:0px auto 150px;
} 
.act{
    margin:auto ;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    text-align: center;
}
.act .card{
    width: 100%;
    position: relative;
    margin: 0 1.25rem;
    text-align: center;
    border: 5px solid #fff;
    border-radius: 150px 150px 50px 50px ;
    overflow: hidden;
    box-shadow:2px 8px 7px rgba(56, 109, 145,.5);
    aspect-ratio:4/6 ;
}
.act .card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position:center;
}
.card h3{
    position: absolute;
    width: 100%;
    height: 40%;
    transform: translateY(3%);
    bottom: 0px;
    text-align: center;
    padding-top: 30%;
    background:no-repeat center/100% url("../back/cloud.png");
    font-size: 1.25rem;
}
.activity .more{
    margin:30px auto 0px;
}
.shop .sum{
    margin:50px auto 30px;
    position: relative;
}
.shop .sum img{
    object-position: center;
}
.shop .more{
    margin:20px auto;
}
.productwrap{
    padding:30px 0 60px;
}
.shop .goshop.btnchangecolor{
    width: 400px;
    margin: auto; 
    transform: translateY(-50%);
    border-radius: 50px;
    height: auto;
}
.goshop .btnchangecolortxt{
    
    display: block;
    text-align: center;
    letter-spacing: 5px;
    font-size: 1.25rem;
    line-height: 3.5rem;
}
.goshop a i{
    color: transparent;
    margin-right: 10px;
    font-size: 1.25rem;
}
.contact{
    margin-top: 150px;
}
.contact .mapblock{
    max-width: 984px;
    margin: auto;
}
.mapblock{
    display: flex;
    max-width: 1100px;
}
.mapblock .mapcard{
    height: 360px;
    width: 50%;
    margin: auto;
    background-image: url('../back/green.png');
    border-radius: 10px;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right:-5%;
    z-index: 1;
}
.mapcard p{
    line-height: 1.5rem;
    text-align: justify;
}
.mapcard h3{
    font-size: 20px;
    padding-bottom:20px ;
}
.mapblock .map{
    width: 55%;
    height: 450px;
    border-radius:10px ;
    overflow: hidden;
    flex-shrink: 0;
}
.mapblock .map iframe{
    width: 100%;
    height: 100%;
}
@media screen and (hover:hover){
.item:hover span{
    border-radius:52% 48% 51% 49% / 66% 32% 68% 34%;
}
.item:hover span img{
    transform: scale(1.1);
}
.item:hover p{
    transform: scale(1.1);
}
.ground .btngroup .btn>i:hover{
    text-shadow: 0px 0px 0px;
    color: #FFF4E2;
}
}
@media screen and (max-width:767px){
.topmenu{
    text-align: center;
}
.wrap{
    background-size: cover;
}
.bar{
    width: 100%;
}
.vedio{
    width: 100%;
}
.bar .txt{
    width: 100%;
    opacity: 1;
    text-shadow: -3px -3px 4px #fff,
    3px 3px 4px #fff;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: absolute;
    background: none;
}

.mapblock{
    display: flex;
    flex-direction: column;
    max-width: 1100px;
}
.mapblock .map{
    width: 100%;
    margin: auto;
    height:45vh;
    border-radius: 0px;
}
.mapblock .mapcard{
    margin: auto;
    width: 100%;
    height:45vh;
    line-height: 1.5rem;
    border-radius: 0px;
}
.goshop{
    max-width: 50%;
    padding: 1.25rem;
    width: 80%;
    margin: auto; 
    transform: translateY(-50%);
    border-radius: 50px;
}
.sheeprow{
    justify-content: center;
    height: 70vh;
}

.sum{
    margin:100px auto;
    flex-direction: column;
}
.item{
    padding: 1rem 0px;
    width: 80%;
    transition: .3s ;
    margin-bottom: 1rem;
}
.item:hover span{
    border-radius:100px;
}
.item:hover p{
    transform:translate(-50%, -50%) scale(1.1); 
}
.item span{
    height: 20vh;
    border-radius:100px;
    aspect-ratio: auto;
}
.item p{
    background-color: transparent;
    font-size: 2.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 5px;
    text-shadow: -1px -1px 5px #fff,
    1px 1px 5px #fff;
    line-height: 20vh;
    vertical-align: middle;
    width: auto;
    height: auto;
}

}
@media screen and (max-width:400px){

.bar::after{
    width: 100px;
    height: 100px;
}
}