.wrap{
    height:100vh;
    overflow-x: hidden;
    position: relative;
}
.para{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
}
.topmenu li{
    display: inline-block;
    margin-right:0 ;
}
#moun{
    left:0;
    width: 100vw;
    position: absolute;
    bottom: 17%;
}
#floor{
    width: 100vw;
    object-fit: cover;
    position: absolute;
    bottom: 0;
}
#paralogo{
    width: 55%;
    position: absolute;
    right: 50%;
    top: 20%;
    transform: translateX(50%);
    z-index: 2;
}
#cr{
    position: absolute;
    width: 35%;
    top: 10%;
    z-index: 2;
    background-size: contain;
    margin-left: auto;
}
#cl{
    position: absolute;
    top: -10%;
    left: 0;
    width: 40%;
}
.bar{
   max-width: 1200px;
   margin: auto;
   position: relative;
}
.vedio{
    max-width: 900px;
    height:584px;
    display: flex;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}
.vedio video{
    height:500px ;
}
.vedio img{
    position: absolute;
    height: 100%;
}
.bar .txt{
    width: 50%;
    background:no-repeat center/100% url("../back/cloud.png");
    opacity: .8;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bar::before{
    content: "";
    position: absolute;
    top: 0;
    left: -40px;
    background:no-repeat center/100% url("../back/cloud.png");
    background-size: contain;
    width: 200px;
    height: 200px;
    z-index: 2;
}
.bar::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0px;
    background:no-repeat center/100% url("../back/cloud.png");
    background-size: contain;
    width: 200px;
    height: 200px;
}
.sum{
    max-width: 1000px;
    margin:100px auto 100px;
    position: relative;
    display:flex ;
    justify-content:space-around;
}
.item{
    width: 30%;
    border: 5px solid white;
    border-radius:53% 47% 35% 65% / 61% 59% 41% 39%;
    overflow: hidden;
    transition: .3s ;
    box-shadow: 8px 8px 8px rgba(40, 68, 117,.5);
    aspect-ratio: 6/7;
}
.item p{
    font-size: 1.25rem;
    position: absolute;
    width: 100px;
    height:100px;
    font-weight: 700;
    background-color: white;
    border-radius:100px;
    text-align: center;
    line-height: 100px;
    z-index: 2;
    transition: .2s;
    transform: scale(1);
}
.item img{
    height:100%;
    width: 100%;
    object-fit: cover;
    object-position: left;
    display: block;
    transform: scale(1);
    transition: .5s;
}
.item:hover{
    border-radius:52% 48% 51% 49% / 66% 32% 68% 34%;
}
.item:hover img{
    transform: scale(1.1);
}
.item:hover p{
    transform: scale(1.1);
}
.new{
    width:100%;
    position: relative;
    margin-bottom: 200px;
}
.new .cloudtitle{
    transform:translateY(30%);
}
.new .ground{
   width: 100%;
   background-image:url("../back/green.png") ;
   padding-top: 40px;
   text-align: center;
}
.sheeprow{ 
    max-width: 1280px;
    height: 100%;
    margin: auto;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100%/3);
    position: relative;
    overflow: hidden;
    padding: 50px 0px 0px;
}
.sheeprow .newcol{
    padding:0 30px; 
}
.sheeprow .newcol a{
    width: 100%;
}
.sheeprow .newcol h3{
    color:#2C6E00;
    text-align: center;
    display: block;
    width: 80%;
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden;
    margin: auto;
    text-shadow: 0px 5px 5px #bcbcbc;
}
.sheeprow .newcol a img{
    width: 100%;
}
.sheeprow .newcol:nth-child(2){
    transform: translateY(-50px);
}
.ground .btngroup{
    text-align: center;
    display: inline-block;
}
.ground .btngroup .btn *{
    margin: 0 3px;
    cursor: pointer;
}
.ground .btngroup .btn>i{
    color: #fff;
    text-shadow:0 5px 3px rgba(84, 84, 84, 0.6);
    line-height: 24px;
    transition: .2s;
}
.ground .btngroup .btn>i:hover{
    text-shadow: 0px 0px 0px;
    color: #FFF4E2;
}
.ground .btngroup .btnchangecolor{
    margin: 10px auto;
}
.activity{
    position: relative;
    max-width: 1200px;
    margin:0px auto 150px;
} 
.act{
    margin:auto ;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    text-align: center;
}
.act .card{
    width: 100%;
    position: relative;
    margin: 0 1.25rem;
    text-align: center;
    border: 5px solid #fff;
    border-radius: 150px 150px 50px 50px ;
    overflow: hidden;
    box-shadow:2px 8px 7px rgba(56, 109, 145,.5);
    aspect-ratio:4/6 ;
}
.act .card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position:center;
}
.card h3{
    position: absolute;
    width: 100%;
    height: 40%;
    transform: translateY(3%);
    bottom: 0px;
    text-align: center;
    padding-top: 30%;
    background:no-repeat center/100% url("../back/cloud.png");
    font-size: 1.25rem;
}
.activity .more{
    margin:30px auto 0px;
}
.shop .sum{
    margin:50px auto 30px;
    position: relative;
}
.shop .sum img{
    object-position: center;
}
.shop .more{
    margin:20px auto;
}
.goshop{
    padding: 20px;
    width: 400px;
    margin: auto; 
    transform: translateY(-50%);
    border-radius: 50px;
}
.goshop a{
    text-align: center;
    letter-spacing: 5px;
    font-size: 1.25rem;
}
.goshop a i{
    color: transparent;
    margin-right: 10px;
    font-size: 1.5rem;
}
.contact{
    margin-top: 150px;
}
.contact .mapblock{
    max-width: 984px;
    margin: auto;
}
.mapblock{
    display: flex;
    max-width: 1100px;
}
.mapblock .mapcard{
    height: 360px;
    width: 50%;
    margin: auto;
    background-image: url('../back/green.png');
    border-radius: 10px;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right:-5%;
    z-index: 1;
    
}
.mapcard p{
    line-height: 1.5rem;
    text-align: justify;
}
.mapcard h3{
    font-size: 20px;
    padding-bottom:20px ;
}
.mapblock .map{
    width: 55%;
    height: 450px;
    border-radius:10px ;
    overflow: hidden;
    flex-shrink: 0;
}
.mapblock .map iframe{
    width: 100%;
    height: 100%;
    
}
@media screen and (max-width:768px){
.mapblock{
    display: flex;
    flex-direction: column;
    max-width: 1100px;
}
.mapblock .map{
    width: 100%;
    margin: auto;
    height:45vh;
}
.mapblock .mapcard{
    margin: auto;
    width: 100%;
    height:45vh;
    line-height: 1.5rem;
}
.goshop{
    max-width: 400px;
    padding: 1.25rem;
    width: 80%;
    margin: auto; 
    transform: translateY(-50%);
    border-radius: 50px;
}
.sheeprow{
    justify-content: center;
    height: 70vh;
}
.sheeprow .newcol:is(:first-child,:last-child){
    display: none;
}
.sheeprow .newcol:nth-child(2){
    width: 100%;
    transform: translateY(0px);
}
}