main ul{
    max-width: 1200px;
    width: 83.33%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}
main ul li{
    background-color: #fff;
    display: flex;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom:1px dashed #2C6E00 ;
    transition: .4s;
    padding: 0px 1rem;
}
main ul li:nth-child(2n){
    background-color: #FFF4E2;
}
main ul li p{
    text-align: center;
}
main ul li .s{
    width: 13%;
}
main ul li .ss{
    width: 10%;
}
main ul li .m{
    width: 64%;
}
main ul li a{
    width: 100%;
    display: flex;
}
main ul li a :is(.date,.tag,.view){
    text-align: center;
}
main ul li a *{
    vertical-align: middle;
    color: #333;
}
main ul li a .date{
    width: 13%;
}
main ul li a .view{
    margin-left: auto;
    width: 10%;
}
main ul li a h3{
    font-size: 1rem;
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden;
    width: 64%;
    font-weight: 500;
}
main ul li a .tag{
    width: 13%;
}
.tag{
    color: #333;
}
main ul li+li:hover{
    transform: translateY(-7px);
    box-shadow: 0px 7px 0px rgba(146, 146, 55, 0.7);
    border-top:1px solid #ccc ;
    
}

@media screen and (hover:hover){
main ul li:hover a *{
    color: #2C6E00;
}
}
@media screen and (max-width:768px){
    main ul{
        width: 95%;
    }
    main ul li a{
        flex-wrap: wrap;
        line-height: 50px;
    }
    main ul li{
        height:fit-content;
    }
    main ul li a h3{
        display: block;
        width: 85%;
        flex-shrink: 0;
    }
    main ul li a .date{
        width: 15%;
        min-width:85px;
        text-align: start;
        border-bottom:1px dashed #2C6E00 ;
    }
    main ul li a .tag{
        width: 75%;
        flex-shrink: 0;
        text-align: start;
        border-bottom:1px dashed #2C6E00 ;
    }
    main ul li a .view{
        width: 15%;
    }
    main ul li .s{
        width: 15%;
        text-align: start;
    }
    main ul li .s:first-child{
        min-width: 100px;
    }
    main ul li .ss{
        width: 15%;
    }
    main ul li .m{
        width: 35%;
        text-align: start;
    }
}
@media screen and (max-width:400px){
    main ul{
        width: 100%;
        border-radius: 0;
    }
    main ul li{
        padding: 0px 0.5rem;
    }
    main ul li>p{
        font-size: 0.8rem;
    }
    main ul li a{
        flex-wrap: wrap;
        line-height: 2rem;
    }
    main ul li a .date{
        width: 38%;
        font-size: 0.9rem;
        
    }
    main ul li a .tag{
        width: 62%;
        font-size: 0.9rem;
        display: none;
    }
    main ul li :is(.s,.ss,.m){
        text-align: center;
        width: 25%;
        line-height: 2rem;
    }

}